body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  margin-top: 100px;
  margin-left: 100px;
  display: inline-block;
  background-color: lightblue;
  border: none;
  text-align: center;
  box-sizing: border-box;
  padding: 20px 40px;
  min-width: 10vw;
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}
